%section.cta
  %article
    .wrapper
      %h3 Partner with us
      %p
        How can we help you? Call us at
        =link_to '888-505-5988', 'tel:888-505-5988' 
        or
        = link_to 'email us.', 'mailto:info@irtalent.com'
