%footer.footer
  .wrapper
    .logo
      = image_tag 'images/interactive-resources-logo-white.png'
    %dl
      %dt 800-241-4474 | HELLO@IRTALENT.COM
      %dd © 2015 INTERACTIVE RESOURCES, LLC

%section.easter-egg
  .wrapper
    = image_tag 'images/easter-egg-type.png'
