footer.footer
  background: #1b4069
  padding: rem(30) rem(15)
  text-align: center
  +media($medium)
    padding: rem(60) 0
    text-align: left
  .logo
    display: inline-block
    img
      width: rem(221)
  dl
    margin: 0
    padding: 0
    display: none
    +media($medium)
      display: block
      float: right
    dt, dd
      margin: 0
    dt
      color: white
      font-size: rem(12)
      line-height: rem(12)
    dd
      color: $azul
      font-size: rem(12)
  ul
    display: block
    margin: rem(30) 0 0 0
    padding: 0
    list-style: none
    li
      +span-columns(6)
      a
        color: white
        text-transform: uppercase
        text-decoration: none
      img
        margin-bottom: rem(0)
    +media($medium)
      display: none

.easter-egg
  background: #1b4069
  padding: 0 rem(30) rem(30) rem(30)
  img
    width: 100%
  span
    color: rgba(255,255,255,0.4)
    font-size: rem(12)
    text-align: center
    display: block
  +media($medium)
    padding: rem(100) 0 0 0
    span
      display: none
