nav.main-nav
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 2
  padding: rem(20)
  header
    width: 100%
    +clearfix()
    .social-links
      float: right
  .logo
    img
      width: rem(290)
  ul
    margin: 0
    list-style: none
    text-align: right
    +span-columns(8)
    li
      display: block
      line-height: rem(60)
      a
        font:
          weight: 700
        text-transform: uppercase
        text-decoration: none
        color: $oscuro-griso
        margin-left: rem(60)
        +transition(all .3s)
        &:hover
          border-bottom: rem(5) solid #285e98
          padding-bottom: rem(8)
  +media($medium)
    padding: 0
    .logo
      +span-columns(4)
      vertical-align: middle
    ul
      margin: 0
      list-style: none
      text-align: right
      +span-columns(8)
      li
        display: inline-block

.social-links
  display: none
  +media($medium)
    display: block
    margin: rem(30) 0 0 0
    a
      display: inline-block
      margin-left: rem(10)
      img
        width: rem(25)
