h1
  font:
    family: 'Montserrat', sans-serif
    size: rem(30)
  text-transform: uppercase
  margin: 0 0 rem(20) 0
  -webkit-text-stroke: rem(2) rgba(0,0,0,0.8)
  color: transparent
  line-height: rem(40)
  text-align: left
  display: block
  letter-spacing: 5px
  // text-shadow:  rem(-1) rem(-1) 0 #000, rem(1) rem(-1) 0 #000, rem(-1) rem(1) 0 #000, rem(1) rem(1) 0 #000
  +media($medium)
    font-size: rem(60)
    line-height: rem(75)

h2
  color: rgba(0,0,0,0.8)
  font:
    size: rem(14)
  margin: 0
  +media($medium)
    font:
      size: rem(18)

h3
  font:
    size: rem(28)
    weight: 300
    style: italic
  line-height: rem(33)
  margin: 0
  +media($medium)
    font:
      size: rem(44)
    line-height: rem(59)

h5
  font:
    size: rem(16)
    weight: 700
  text-transform: uppercase
  margin: 0

.title
  font:
    family: 'Montserrat', sans-serif
    size: rem(30)
    weight: 700
  text-transform: uppercase
  margin: 0 0 rem(20) 0
  -webkit-text-stroke: rem(2) rgba(255,255,255,1)
  color: transparent
  line-height: rem(40)
  text-align: left
  display: block
  letter-spacing: 5px
  // text-shadow:  rem(-1) rem(-1) 0 #000, rem(1) rem(-1) 0 #000, rem(-1) rem(1) 0 #000, rem(1) rem(1) 0 #000
  +media($medium)
    font-size: rem(40)
    line-height: rem(75)
