.about-hero
  background: url('/images/about-hero.jpg') top center no-repeat
  background-size: cover
  height: rem(600)
  width: 100%
  display: table
  article
    display: table-cell
    vertical-align: bottom
    height: 100%
    width: 100%
    text-align: left
    position: relative
    padding: 0 rem(20) rem(60) rem(20)
    border-top: rem(8) solid $oscuro-azul
    border-bottom: rem(8) solid $oscuro-azul
  h1
    -webkit-text-stroke: rem(2) rgba(255,255,255,1)
    line-height: rem(60)
  h2
    color: white

.about-content
  padding: rem(100) 0
  color: $oscuro-griso
  article
    +clearfix
    h3
      font:
        size: rem(32)
      line-height: rem(40)
      text-align: center
    h5
      font:
        size: rem(36)
        weight: 700
      text-transform: uppercase
      text-align: center
      margin: rem(80)
      border-bottom: rem(1) dashed $griso
      padding-bottom: rem(30)
    ul
      margin: 0
      list-style: none
      li
        font:
          size: rem(26)
          weight: 700
        text-align: center
        img
          width: rem(90)
          margin-bottom: rem(45)
        span
          display: block
          font:
            size: rem(20)
            weight: 400
          margin-top: rem(15)
        +span-columns(4)
  aside
    +clearfix
    padding: rem(180) 0
    ul
      margin: 0
      list-style: none
      li
        line-height: rem(32)
        border-bottom: rem(1) dashed $griso
        padding-bottom: rem(30)
        h3
          margin-bottom: rem(1)
        img
          height: rem(300)
        +span-columns(8)
        &:nth-of-type(2)
          +span-columns(4)
          border: none
          text-align: right

.leadership
  h3
    margin-bottom: rem(30)
  figure
    margin: 0
    +span-columns(3)
    text-align: center
    border: rem(2) dotted $griso
    padding: rem(20) rem(40)
    dl
      margin: 0
      dt
        margin: 0
        text-transform: uppercase
        font-size: rem(20)
      dd
        font-size: rem(16)
        margin: 0
    a
      color: $oscuro-griso
      text-align: center
      display: inline-block
      text-decoration: none
      padding: rem(15) rem(15) 0 rem(15)
      img
        width: rem(30)
        fill: $oscuro-griso

.our-locations
  text-align: center
  color: white
  padding: rem(160) 0
  .title
    text-align: center
  p
    border-bottom: rem(1) dashed rgba(255,255,255,0.8)
    margin-bottom: rem(60)
    padding-bottom: rem(30)
  ul
    margin: 0
    list-style: none
    +clearfix
    li
      +span-columns(6)
  figure
    background: rgba(255,255,255,0.2)
    margin: 0 auto
    width: rem(670)
    padding: rem(30) 0
    ul
      li
        text-align: left
        &:nth-of-type(2)
          font:
            size: rem(28)
  &.jacksonville
    background: linear-gradient(rgba(179, 154, 36, 0.7), rgba(179, 154, 36, 0.7)), url('/images/jacksonville.jpg') top center no-repeat
    background-size: cover
