.jobs-hero
  background: url('/images/jobs-hero.jpg') top center no-repeat
  background-size: cover
  height: rem(600)
  width: 100%
  display: table
  article
    display: table-cell
    vertical-align: bottom
    height: 100%
    width: 100%
    text-align: left
    position: relative
    padding: 0
    border-top: rem(7) solid $oscuro-azul

.headline
  text-align: center
  background: #6a7276
  padding: rem(30) 0
  h1
    -webkit-text-stroke: rem(2) rgba(255,255,255,1)
    line-height: rem(60)
    text-align: center
  h2
    color: white
