.talent-hero
  background: url('../images/find-talent-hero.jpg') top center no-repeat
  background-size: cover
  height: rem(400)
  width: 100%
  display: table
  +media($medium)
    height: rem(600)
  article
    display: table-cell
    vertical-align: bottom
    height: 100%
    width: 100%
    text-align: left
    position: relative
    padding: 0
    border-top: rem(7) solid $oscuro-azul

.headline
  text-align: center
  background: $ligero-azul
  padding: rem(30) 0
  h1
    -webkit-text-stroke: rem(2) rgba(255,255,255,1)
    line-height: rem(60)
    text-align: center
  h2
    color: white

.talent-content
  padding: rem(150) rem(15) rem(30) rem(15)
  +media($medium)
    padding: rem(100) 0 0 0
  article
    ul
      margin: 0
      list-style: none
      padding: 0
      +clearfix
      li
        text-align: center
        +media($medium)
          text-align: left
          +span-columns(6)
        &:nth-of-type(2)
          text-align: right
    img
      &.eye-icon
        height: rem(65)
        width: auto
      &.people
        height: auto
        width: 100%
        +media($medium)
          height: rem(380)
          width: auto
      &.signature
        height: rem(120)
        margin: rem(-50) rem(-110) 0 0
    &:nth-of-type(2)
      text-align: center
      padding-top: rem(100)
      h3
        text-align: center
      dl
        margin: rem(60) 0
        +clearfix
        dd
          margin: 0
          font:
            size: rem(24)
            style: italic
            weight: 400
          img
            width: rem(80)
            margin: rem(30) 0
          +media($medium)
            +span-columns(3)
            img
              width: rem(150)
              margin: 0 0 rem(30) 0

.divider
  display: none
  +media($medium)
    display: block
    border-top: rem(1) dashed $griso
    margin: rem(-80) 0 0 0
    span
      text-transform: uppercase
      font-size: rem(14)
      margin-top: rem(-50)

.staffing
  padding: rem(30) rem(15)
  +media($medium)
    padding: 0
  dl

    dt
      margin: 0 0 rem(5) 0
      font:
        size: rem(30)
      text-align: center
    dd
      text-align: center
      margin: rem(10) 0 0 0
      font:
        size: rem(16)
      padding: 0
      +media($medium)
        padding: 0 rem(100)
    +media($medium)
      +span-columns(6)
      background: url('../images/tech_icons.png') top left no-repeat
      background-size: inherit
      margin: 0
      padding: rem(170) 0 0 rem(140)
      height: rem(640)
      position: relative
      &:nth-of-type(2)
        background: url('../images/pro_icons.png') top center no-repeat
        padding: rem(170) rem(180) 0 0
        border-left: rem(1) dashed $griso

.why-ir
  background: #19528e
  background-image: none
  border-top: rem(8) solid $azul
  color: white
  font-weight: 900
  line-height: rem(35)
  position: relative
  padding: rem(30) rem(10)
  text-align: center
  overflow: hidden
  +media($medium)
    text-align: left
    padding: rem(100) 0
    background-image: url('../images/why-ir-bg.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: 100%
  article
    position: relative
    z-index: 1
    +media($medium)
      +span-columns(6)
      padding: 0 rem(100)
    span
      display: block
      font:
        size: rem(28)
        weight: 400
