---
title: Interactive Resources | Find Talent
---

= partial 'refills/nav'

%section.talent-hero
  %article
    .headline
      %h1
        We are the partner you keep
      %h2 Distracted by recruiting and resource challenges? We can help.

%section.talent-content
  .wrapper
    %article



= partial 'refills/cta'

= partial 'refills/footer'
